# Ignore files in the literature folder
literature/External Thesis_START.pdf
literature/contact_map.pdf

# Ignore files in the progress_notes folder
progress_notes/Identifying_crucial_moments_and_hotspots-2.pdf
progress_notes/Progress_notes1.pdf
progress_notes/psudo_code1.pdf

